body{
    padding: 0px;
    margin: 0 auto;
}


.containerEncripted{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    height: 100vh;

    /* Light blue/light-blue-100 */
    background: #e4e4e9;
    display: flex;
    flex-direction: row;


    background-color: #667d9a;

}

.containerLeft{
    background-color: #e79615;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logoAlura{
    position: absolute;
    left: 2.67%;
    right: 37.43%;
    top: 40px;
    bottom: 0%;
    /* Dark blue/dark-blue-300 */
}

.inpText{
    width: 65%;
    height: 370px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    outline: none;
    background-color: none;
    background: #e4e4e9;
}

.alert{
    color: rgb(252, 244, 244);
    font-size: 18px;
    margin-left: 50px;
    width: 55%;
    margin: 0 auto;
    background-color: #e79615;
    border-radius: 10px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
}

.alertCopy, .alertCopyEmpty{
    position: absolute;
    color: rgb(252, 244, 244);
    font-size: 18px;
    margin-left: 50px;
    width: 25%;
    margin: 0 auto;
    background-color: #479c54;
    border-radius: 10px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;

}



.containerButton{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
    justify-content: space-between;
}

.iconInfo{
    top: 0px;
    width: 12px;
}

.lblInfo{
    font-size: 13px;
    color: #4b4b4b;
    margin-top: -80px;
    margin-left: -10px;
    position: absolute;
}

.btnEncript, .btnDescencript{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 55px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */
    color: #E5E5E5;
    font-size: 16px;
}
.btnEncript:hover{
    background: #03101f;
    cursor: pointer;
    font-size: 18px;

}

.btnDescencript{
    background:none;
    border-color:  #0A3871;
}

.btnDescencript:hover{
    background: #4b4b4b;
    cursor: pointer;
    font-size: 18px;
    color: #E5E5E5;

}

.btndesc{
    color: #343A40;
}




/*.contTextEncritp{
    position: relative;
    width: 280px;
    height: 550px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}*/

.containerRight{
    background-color: #479c54;
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.contTextEncritp{
    width: 60%;
    height:85%;
    /* White */
    border-radius: 32px;
    background-color: #faf8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 5px 5px 7px rgba(98, 98, 99, 0.08);
    padding: 20px;
    margin-bottom: 100px;
}


.lblNoMessage{
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #343A40;
}

.lblIndMessage{
    width: 80%;
    position: relative;
    text-align: center;
    font-size: 20px;
    top: -10%;
    color: #343A40;
}

.inpTextEncript{
    width: 100%;
    height: 300px;
    left: 10px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 0 auto;
    /* Gray/gray-400 */
    color: #495057;
    text-align: start;
    border: none;
    outline: none;
    margin-bottom: -40px;
    background-color: #faf8f8;
    

}

.btnCopyText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 50px;

    /* Dark blue/dark-blue-300 */
    border-radius: 24px;
    background:none;
    border-color:  #0A3871;
    font-size: 16px;
    color: #0A3871;

}

.btnCopyText:hover{
    background: #4b4b4b;
    cursor: pointer;
    font-size: 18px;
    color: #E5E5E5;

}

.imgMuneco{
    width: 90%;
}



@media screen  and (max-width:900px) {

    .containerEncripted{
        height: 100%;
        background-color: red;
        flex-direction: column;
        align-items: flex-start;
    }

    .containerLeft{

        display: flex;
        height: 400px;
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 100px;
    }

    .inpText{
        width: 90%;
        height: 288px;
        margin-top: 10px;
    }

    .containerButton{
        /* Auto layout */
        margin-top: 150px;
        width: 90%;
        justify-content: space-between;
    }

    .btnEncript, .btnDescencript{
        width: 48%;
        height: 45px;
    }

    .containerRight{
        width: 90%;
        margin: 0 auto;
        height: 450px;
    }

    .contTextEncritp{
        height: 200px;
        border-radius: 32px;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 85%;
    }

    .inpTextEncript{
        height: 100px;
        margin-bottom: 0px;
    }

    .btnCopyText{
        
        height: 50px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .imgMuneco{
        width: 70%;
        margin-top: 30px;
        display: none;
    }
    
    .lblNoMessage{
        margin-top: 10px;
    }
    .lblIndMessage{
        text-align: center;
        top: 20px;
        color: #343A40;
    }

    .lblInfo{
        margin-left: 20px;
    }
    


}


/*@media screen  and (max-width:450px) {
    .containerButton{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .btnEncript, .btnDescencript{
        width: 90%;
        height: 45px;
    }

    .contTextEncritp{
        width: 95%;
        padding-top: 20px;
        justify-content: space-between;
    }

    .lblIndMessage{
        text-align: center;
        top: -60px;
        color: #343A40;
    }


    .alert{
        height: 90px;
        padding: 10px;
    }

    .alertCopy, .alertCopyEmpty{
        width: 80%;
        height: 50px;
    
    }
}*/